.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0px 1px 3px -2px rgb(64, 62, 62);
    margin-bottom: 1px;
    background: white;
}
.navbar img{
    display:flex;
    align-items: center;
    height: 100px;
    width: 100px;
}
.navbar p{
    color: rgb(16, 16, 60);
    font-size: 38px;
    font-weight: 600;
}
.nav-logo-1{
    display: flex;
    align-items:center;
    gap: 10px;
   
}
